<div class="container">
  <app-card [hasHeader]="true" [title]="'Mi alcancía'">
    <form [formGroup]="moneyboxForm" (ngSubmit)="save(moneyboxForm.value)">
      <div class="form-row">
        <div class="form-group col">
          <label>Cantidad</label>
          <input
            type="number"
            class="input-data"
            formControlName="quantity"
            placeholder="Ingrese la cantidad de monedas de la misma denominación"
            [class.invalid]="checkErrors('quantity')"
          />
          <div class="container-error-message" *ngIf="checkErrors('quantity')">
            {{ getErrorMessage("quantity") }}
          </div>
        </div>
        <div class="form-group col">
          <label>Denominación</label>
          <input
            type="number"
            class="input-data"
            formControlName="denomination"
            placeholder="Ingrese la denominación de la(s) moneda(s)"
            [class.invalid]="checkErrors('denomination')"
          />
          <div
            class="container-error-message"
            *ngIf="checkErrors('denomination')"
          >
            {{ getErrorMessage("denomination") }}
          </div>
        </div>
      </div>
      <div class="buttons">
        <button
          *ngIf="!isBroken"
          class="btn btn-primary btn-space"
          type="submit"
          [disabled]="moneyboxForm.invalid"
        >
          Guardar
        </button>
        <button
          *ngIf="!isBroken"
          class="btn btn-cancel btn-space"
          type="button"
          (click)="resetAll()"
        >
          Cancelar
        </button>
        <button
          class="btn btn-secondary btn-space"
          type="button"
          (click)="restoreOrBreak()"
        >
          {{ isBroken ? "Restaurar Alcancía" : "Romper Alcancía" }}
        </button>
        <button
          *ngIf="isBroken"
          class="btn btn-primary"
          type="button"
          (click)="startMoneybox()"
        >
          Alcancía Nueva
        </button>
      </div>
    </form>
    <h2>Información de la alcancía</h2>
    <div class="container">
      <div class="form-row">
        <div class="form-group col">
          <label>Cantidad de monedas dentro de la alcancïa</label>
          <input
            type="text"
            class="input-data"
            value="{{ this.coinCount }}"
            disabled
          />
        </div>
        <div class="form-group col">
          <label>Cantidad de dinero dentro de la alcancía</label>
          <input
            type="text"
            class="input-data"
            value="{{ this.totalSaved | currency }}"
            disabled
          />
        </div>
      </div>
      <div class="content-table">
        <table class="table">
          <thead class="border-bottom">
            <tr>
              <th>Denominación</th>
              <th>Cantidad</th>
              <th>Valor total</th>
            </tr>
          </thead>
          <tbody *ngIf="isBroken">
            <tr *ngFor="let row of data">
              <td>{{ row.denomination }}</td>
              <td>{{ row.quantity }}</td>
              <td>{{ row.totalAmount | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-card>
</div>
