:root {
  --transparent: #ffffff00;
  --purple: #571e69;
  --purple-2: #74298c;
  --purple-3: #220C29;
  --purple-4: #391444;
  --white: #ffffff;
  --white-2: #e5e5e5;
  --white-3: #e9e9e9;
  --gray: #757575;
  --gray-2: #92949c;
  --gray-3: #383a3e;
  --gray-4: #d8d8d8;
  --gray-5: #919191;
  --gray-6: #d0d0d0;
  --gray-7: #EBEBEB;
  --gray-8: #CCCCCC;
  --red: #eb445a;
  --red-2: #ec1102;
  --green: #28a745;
  --pink: #f1c4ff;
  --blue: #3880ff;
}
